@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

label {
    font-weight: bold !important;
}

.cover {
    object-fit: cover !important;
}

.float-right {
    float: right !important;
}